/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font1{
  font-family: 'Dosis',sans-serif;
}
.text-creme{
  color: #c6af9ed7;
}
.bac-1{
  background: #c6af9ed7;
}
/*  */
.backDesigne>.footerLink{
  z-index: 55555555555 !important;
}
.backDesigne{
  background-image: url(/pattern.png), linear-gradient(#393737, #1b1b1b);
  background-position: 0 0, 0 0;
  background-size: 80px 80px, auto;   
  margin-top: -64px;
  /* padding-top: 50px; */
  position: sticky;
  bottom: 0;
  overflow: hidden;
  z-index: -55555;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
